#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  color: black;
}

body {
  
}

.waveform-container {
  width: 100%;
  height: 100%;
  display: block;
  background-color: black;
  border: 1px solid red;
}

#waveform {
  display: block;
  background-color: transparent;
  color: black;
  border: 1px solid blue;
}

.controls {
  margin-top: 10px;
}

.controls button {
  margin: 1px;
  border: 1px solid #ccc !important;
}

.controls button:hover {
  background-color: #ececec;
}

.audio-info {
  margin-top: 15px;
  color: #fff;
  border-radius: 4px;
  padding: 8px 15px;
  display: inline-block;
  font-size: 12px;
}
