#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  color: black;
  line-height: 1.7;
}

body {
  background-color: rgb(62, 62, 62);
}

.waveform-container {
  width: 50%;
  max-width: 25rem;
  height: 100%;
  margin: 10rem auto;
  display: block;
  background-color: black;
  padding: 3rem;
  border-radius: 2rem;
  border: 2px solid white;
  box-shadow: 
  10px 10px 0 0 rgba(255, 0, 0, 0.7), /* Red shadow */
  20px 20px 0 0 rgba(0, 255, 0, 0.7), /* Green shadow */
  30px 30px 0 0 rgba(0, 0, 255, 0.7); /* Blue shadow */
}

#waveform {
  display: block;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.controls {
  margin-top: 1.5rem;
}

.controls button {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1px;
  font-size: large;
  padding: auto;
  margin: 0.25rem;
  border: 1px solid #ccc !important;
  border-radius: 50%;
  transition: transform 0.1s ease;
}
.controls button:hover {
  cursor: pointer;
  color: blue;
}
.controls button:active {
  transform: scale(0.8);
}
.controls input {
  cursor: pointer;
}

.audio-info {
  margin-top: 1.5rem;
  color: #fff;
  border-radius: 4px;
  
  padding: 8px 15px;
  display: inline-block;
  font-size: large;
  cursor: default;
}
.drop-zone {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 70%;
  aspect-ratio: 1.1;
  margin: 3rem auto;
  padding: 1rem;
  font-size: x-large;
  color: lightblue;
  border: 1px dashed lightblue;
}
.upload-icon {
  font-size: 5rem;
  margin: auto auto;
}
